.todos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.todos-lists {
  display: flex;
  flex-direction: column;
  width: 822px;
  height: 38px;
}

.todos-lists input {
  width: 250px;
  height: 50px;
  font-size: 19px;
  border-radius: 20px;
  background: #d9d9d9;
}

.todos-lists button {
  border-radius: 20px;
  background: #4f4f4f;
  color: #fff;
  font-family: Racing Sans One;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 25px;
  margin-top: 25px;
  border-style: none;
  padding: 12px;
  margin: 0;
}

.todos-lists li {
  list-style-type: none;
  border-radius: 10px;
  background: #222;
  color: #fff;
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
